/* HENVENDER SIG TIL FORSIDE SEKTIONEN */

.top_index {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    height: 100%;
}

.bottom_index {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    margin-top: 20px;
}

.column_wide {
    background-color: green;
    flex-grow: 3;
    flex-basis: 400px;
    justify-content: flex-start;
}

.column_narrow {
    background-color: green;
    justify-content: flex-end;
}

.top {
    background-color: blue;
    flex-basis: 400px;
    align-self: flex-start;
}

.bottom {
    background-color: blue;
    flex-basis: 400px;
    align-self: flex-end;
}

img {
    width: 100%;
}

.column {
    justify-content: space-between;
    border: 1px solid black;
    flex-basis: 350px;
    height: 300px;
}

.farvekode1 {
    background-color: #bfb488;
}

.farvekode2 {
    background-color: #8c8c5e;
}

.farvekode3 {
    background-color: #dde8cf;
}

.farvekode4 {
    background-color: #191d15;
}

.farvekode5 {
    background-color: #756f4d;
}

.farvekode6 {
    background-color: #fdf3bf;
}

.farvekode7 {
    background-color: #0b0f0d;
}
